<html>
    <body>
        <form action="/musictour" method="get">
        <h2>From:</h2>
        {% if not from_artist.matching_tracks %}
            <p>Could not find any Spotify tracks for {{from_artist.artist_name}}, did you mean:</p>
            {% for did_you_mean in from_artist.did_you_mean %}
                <input type="radio" name="from_artist" value="{{did_you_mean}}" />{{did_you_mean}}<br />
            {% endfor %}
        {% else %}
            <input type="text" name="from_artist" value="{{from_artist.artist_name}}"/>
        {% endif %}
        <h2>To:</h2>
        {% if not to_artist.matching_tracks %}
            <p>Could not find any Spotify tracks for {{to_artist.artist_name}}, did you mean:</p>
            {% for did_you_mean in to_artist.did_you_mean %}
                <input type="radio" name="to_artist" value="{{did_you_mean}}" />{{did_you_mean}}<br />
            {% endfor %}
        {% else %}
            <input type="text" name="to_artist" value="{{to_artist.artist_name}}"/>
        {% endif %}
        <input type="submit" />
        </form> 
    </body>
</html>

